#cloud-config
# vim: syntax=yaml
disable_root: ${disable_root}
write_files:
  - content: |
      net.ipv4.ip_forward = 1
      net.ipv4.conf.all.forwarding = 1
      net.ipv4.conf.default.forwarding = 1
      net.ipv4.conf.all.rp_filter = 0
      net.ipv4.conf.default.rp_filter = 0
    path: /etc/sysctl.d/999-user_data.conf
runcmd:
  - systemctl restart systemd-sysctl
  - /sbin/iptables -P INPUT   ACCEPT
  - /sbin/iptables -P OUTPUT  ACCEPT
  - /sbin/iptables -P FORWARD ACCEPT
  - /sbin/iptables -t nat -P POSTROUTING ACCEPT
  - /sbin/iptables -t nat -P PREROUTING  ACCEPT
%{ for num, node in slave_nodes ~}
  # ${node.name}
  - /sbin/iptables -t nat -A PREROUTING  -p tcp --dport 220${num+1} -j DNAT --to-destination ${node.network.1.fixed_ip_v4}:22
  - /sbin/iptables -t nat -A POSTROUTING -p tcp -d ${node.network.1.fixed_ip_v4} --dport 22 -j MASQUERADE
  - /sbin/iptables -A FORWARD -p tcp --dport 220${num+1} -j ACCEPT
%{ endfor ~}
  - mkdir -p /etc/iptables
  - /sbin/iptables-save > /etc/iptables/rules.v4
  - ip route replace default via ${gw}
  # - apt update -y
  # - apt install -y iptables-persistent netfilter-persistent
  # - /usr/share/netfilter-persistent/plugins.d/15-ip4tables save
  # - systemctl daemon-reload
  # - systemctl enable netfilter-persistent.service

###